@import '../Event.css';

.star {
  color: var(--color-event-red);
  margin-right: 10px;
}
/*
.star:hover {
  display: block;
  position: absolute;
  background: #333;
  color: #fff;
  border-radius: 5px;
  padding: 5px 15px;
}*/

.descriptionHeader {
  margin-top: 20px;
  margin-bottom: 10px;
}

.meta h3 {
  margin: 5px 0;
}

.title {
  cursor: pointer;
}

.paymentInfo {
  margin-top: 10px;
}

.unansweredSurveys {
  max-width: 625px;
  margin-top: 15px;
}

.unansweredSurveys h3 {
  color: var(--color-red-3);
}
